<template>
  <div>
    <h1>Im Inside Component</h1>
  </div>
</template>

<script>
export default {
  data: () => ({}),
  computed() {},
  watch: {},
  mounted() {},
  methods: {

    
  },
};
</script>

<style>
</style>