<template>

  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h3>Self Diagnostics</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-12">
            <div id="area-chart" class="ct-chart" style="margin-top: 0; height: 300px;margin-bottom: 19px; overflow: auto"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-3">
          <span class="dot-normal"></span> Normal
      </div>
      <div class="col-md-3">
          <span class="dot-yellow"></span> Yellow
      </div>
      <div class="col-md-3">
          <span class="dot-red"></span> Red
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
  
</template>
<script>

export default {

  data: () => ({
    lists : [],
  }),
  
  mounted(){
    this.loadBarChart();
    this.loadData();
  },

  methods : {
        
    loadBarChart() {
      new Chartist.Line('#area-chart', {
        
    labels: [ '', 'Scan for Malware', 'Handover Activities', ''],
    series: [
      [,20,250,],
      [,10,60,],
      [,0,10,],
    
    ]
      }, {
        fullWidth: true,

      });

    },

    async loadData(){
      const { data } = await this.$store.dispatch(
        "Helpdesk/Form/getIbsMalwareSla"
      );
      
      this.lists = data || [];
    }
  }

};
</script>
<style scoped>
.dot-normal {
  height: 10px;
  width: 10px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block;
}
.dot-yellow {
  height: 10px;
  width: 10px;
  background-color: orange;
  border-radius: 50%;
  display: inline-block;
}
.dot-red {
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}
</style>