<template>
  <div class="container-fluid mt-5">
    <div class="row mt-5">
      <div class="col-12">
        <!-- Steps -->
        <div class="card" v-if="this.step <= 2">
          <div class="card-body bgslateblue" v-if="this.step == 1">
            <p class="heading text-light text-center">
              By continuing to use this application, you agree to grant access
              to collect data from your <br />
              account in TMS and computer / or viewing of your computer.
            </p>
          </div>

          <div class="card-body" v-if="this.step == 2">
            <p class="heading2 text-center">
              Before we begin, if you are experiencing the following, please
              perform self-help first:
            </p>
            <div class="row">
              <div class="col-md-6 text-center text-light bgslateblue box">
                Experiencing slow response from the system?
              </div>
              <div class="col-md-6 text-center text-light bgdarkslateblue box">
                Please check your internet speed, Clear cookies and Internet
                Temporary Files.
              </div>
            </div>
            <div class="row mt-1">
              <div class="col-md-6 text-center text-light bgslateblue box">
                The screen freezes?
              </div>
              <div class="col-md-6 text-center text-light bgdarkslateblue box">
                Your RAM maybe insufficient, or there is registry conflict, or
                your file is corrupted.
              </div>
            </div>
          </div>

          <div class="card-footer">
            <div class="float-right">
              <button class="btn btn-success" @click="onStep">
                <i class="fa fa-check"></i> Continue
              </button>
              <button class="btn btn-warning" @click="onCancel">
                <i class="fa fa-times-circle"></i> Cancel
              </button>
            </div>
          </div>
        </div>
        <!-- FORM -->
        <div class="card" v-else>
          <ValidationObserver ref="form">
            <div class="card-body">
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label>TICKET NUM. <small>(Not Editable)</small></label>
                    <input
                      type="text"
                      style="pointer-events: none !important;"
                      class="form-control"
                      placeholder="Auto Generated"
                    />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>DATE & TIME <small>(Not Editable)</small></label>
                    <input
                      type="text"
                      style="pointer-events: none !important;"
                      class="form-control"
                      placeholder="Auto Generated"
                      :value="dateCreated"
                    />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>USER <small>(Not Editable)</small></label>
                    <input
                      type="text"
                      style="pointer-events: none !important;"
                      class="form-control"
                      v-model="data.user"
                    />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>COMPANY/AGENCY <small>(Not Editable)</small></label>
                    <input
                      type="text"
                      style="pointer-events: none !important;"
                      class="form-control"
                      v-model="data.company"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <ValidationProvider
                  :rules="{ required: true }"
                  v-slot="{ errors, failed }"
                  name="selectedApplicationType"
                  slim
                >
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>APPLICATION <span class="text-danger">*</span></label>
                      <select
                        name="applicationType"
                        class="selectpicker"
                        data-width="100%"
                        data-style="btn-default btn-outline"
                        v-model="selectedApplicationType"
                      >
                        <option value="" selected>
                          Select Application Type
                        </option>
                        <option>New</option>
                        <option>Resubmitted</option>
                      </select>
                      <label class="text-danger" v-if="failed">
                        {{ errors[0] }}
                      </label>
                    </div>
                  </div>
                </ValidationProvider>
                <ValidationProvider
                  :rules="{ required: true }"
                  v-slot="{ errors, failed }"
                  name="browser_version"
                  slim
                >
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>BROWSER VERSION <span class="text-danger">*</span></label>
                      <input
                        type="text"
                        class="form-control"
                        v-model="browser_version"
                        placeholder="Enter Browser Version"
                      />
                      <label class="text-danger" v-if="failed">
                        {{ errors[0] }}
                      </label>
                    </div>
                  </div>
                </ValidationProvider>
                <ValidationProvider
                  :rules="{ required: true }"
                  v-slot="{ errors, failed }"
                  name="os_version"
                  slim
                >
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>OS VERSION <span class="text-danger">*</span></label>
                      <input
                        type="text"
                        class="form-control"
                        v-model="os_version"
                        placeholder="Enter OS Version"
                      />
                      <label class="text-danger" v-if="failed">
                        {{ errors[0] }}
                      </label>
                    </div>
                  </div>
                </ValidationProvider>
                <ValidationProvider
                  :rules="{ required: true }"
                  v-slot="{ errors, failed }"
                  name="selectedTicket"
                  slim
                >
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>TICKET <span class="text-danger">*</span></label>
                      <select
                        name="ticket"
                        class="selectpicker"
                        data-width="100%"
                        data-style="btn-default btn-outline"
                        v-model="selectedTicket"
                      >
                        <option value="">Select Ticket Type</option>
                        <!-- <option>Feature</option> -->
                        <option>Request</option>
                        <option>Comment</option>
                        <option>Bug</option>
                      </select>
                      <label class="text-danger" v-if="failed">
                        {{ errors[0] }}
                      </label>
                    </div>
                  </div>
                </ValidationProvider>
              </div>

              <div class="row">
                <ValidationProvider
                  :rules="{ required: true }"
                  v-slot="{ errors, failed }"
                  name="trouble_details"
                  slim
                >
                  <div class="col-md-9">
                    <div class="form-group">
                      <label>Trouble Details <span class="text-danger">*</span></label>
                      <textarea
                        name=""
                        rows="5"
                        class="form-control"
                        v-model="trouble_details"
                        placeholder="Enter Trouble Details"
                      ></textarea>
                      <label class="text-danger" v-if="failed">
                        {{ errors[0] }}
                      </label>
                    </div>
                  </div>
                </ValidationProvider>

                <div class="col-md-3">
                  <a class="img-avatar-link" href="#">
                    <span class="img-helper-label">SCREENSHOT <span class="text-danger">*</span></span>
                    <div style="position: relative" @click.prevent="uploadScreenshot()">
                      <img class="img-class" src="/img/avatar/img-default.png" alt="Forest" style="width: 150px"/>
                      <span class="label-uploaded" v-if="screenshot.length > -1">
                        <!-- <i class="fas fa-spinner fa-pulse" v-if="idUploadLoading"></i> -->
                        <i class="inner-label" >{{ screenshot.length > 0 ? '+'+screenshot.length : screenshot.length }} Image/s</i>
                      </span>
                    </div>
                    <div style="display: flex;">
                      <button class="btn btn-outline btn-primary btn-block btn-sm btn-flat" style="margin: 10px 0 0 0"
                        @click.prevent="uploadScreenshot()"
                        v-if="screenshot.length===0"
                      >
                        <i class="fas fa-upload"></i> Attach
                      </button>
                      <button class="btn btn-outline btn-danger btn-sm btn-flat btn-block" style="margin: 10px 0 0 0"
                        @click.prevent="resetScreenshot"
                        v-if="screenshot.length>0"
                      >
                        <i class="fas fa-trash"></i> Reset
                      </button>
                     <!--  <button class="btn btn-outline btn-primary btn-sm btn-flat ml-1" style="margin: 10px 0 0 0"
                        @click.prevent="addScreenshot"
                        v-if="screenshot.length>0"
                      >
                        <i class="fas fa-plus"></i>
                      </button> -->
                    </div>
                    <span class="img-helper-label">Max. 3MB Size (IMG Only)</span>
                  </a>
<!-- 
                  <label
                    >Attachments <br />
                    <small>PDF/JPEG only, Max. 3MB Size</small></label
                  >
                  <div class="form-group">
                    <table class="table text-left table-bordered">
                      <tr v-for="(i, k) in screenshot" :key="k">
                        <td class="pr-3 text-center">{{ i.filename }}</td>
                        
                        <td>
                         <center>
                           <button class="btn btn-danger btn-sm" @click="removeFile(k)">
                             <i class="fa fa-window-close"></i>
                           </button>
                         </center>
                        </td>
                      </tr>
                    </table>

                    <button
                      class="btn btn-secondary float-right"
                      @click.prevent="uploadScreenshot()"
                    >
                      <span v-if="screenshot.length === 0">
                        <i class="fa fa-paperclip"></i> Add Attachments
                      </span>
                      <span v-else>
                        <span>
                          <div v-if="screenshot.attachment">
                            <i class="fas fa-check"></i>
                            {{ screenshot.filename }}
                          </div>
                          <div v-else>
                            <i class="fa fa-paperclip"></i>
                            {{ screenshot.length }} attachments
                          </div>
                        </span>
                      </span>
                    </button>
                    <br />
                    <label class="text-danger" v-if="failed">
                      {{ errors[0] }}
                    </label>
                  </div> -->

                </div>
              </div>
            </div>
          </ValidationObserver>

          <Upload
            ref="upload"
            :accept="`img`"
            :multiple="true"
            :fileSizeNumber="3"
            :fileSizeLabel="`mb`"
            :fileList.sync="screenshot"
            :returnFileOnly="false"
          />

          <div class="card-footer">
            <div class="float-right">
              <button
                class="btn btn-success"
                @click="submit"
                :disabled="submitLoading"
              >
                <i class="fas fa-spinner fa-spin" v-if="submitLoading"></i>
                <span v-if="!submitLoading">
                  <i class="fas fa-check"></i> Submit Ticket
                </span>
              </button>
              <button class="btn btn-warning" @click="onCancel">
                <i class="fa fa-times-circle"></i> Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Swal from "sweetalert2";

export default {
  data: () => ({
    step: 1,
    data: {},
    // Variables
    selectedApplicationType: "",
    browser_version: "",
    os_version: "",
    selectedTicket: "",
    trouble_details: "",
    screenshot: [],
    screenshot_image: "/img/avatar/img-default.png",
    uploadLoading: false,
    submitLoading: false,
    failed: "",
    fileList: [],
    attachType: "",
    index: 0,
    isMultiple: false,
  }),
  watch: {
    // handle the file upload
    async screenshot(file) {
      if (file.length===0) return;
      this.setScreenshot(file);
    },
  },
  computed: {
    userData(){
      return JSON.parse(localStorage.getItem('user') || "{}");
    },
    userComp(){
      return JSON.parse(localStorage.getItem('userComp')||"{}");
    },
    dateCreated(){
      return new Date().toISOString().substr(0, 10);
    },
  },
  mounted() {
    this.populateUserDetails();
    this.$nextTick(() => $(".selectpicker").selectpicker("refresh"));
  },
  methods: {
    swalLoading(html="Processing your request. Please wait...", title="Submit") {
      Swal.fire({
        title: title,
        html: html,
        timerProgressBar: true,
        allowOutsideClick: false,
        didOpen: () => {
          Swal.showLoading()
        },
      });
    },
    resetScreenshot() {
      this.screenshotUpload = [];
      this.screenshot = [];
    },
    async setScreenshot(file) {
      console.log(file);
      this.uploadLoading = true;
      // this.screenshot.attachment = await this.$helper.toBase64(
      //   this.screenshot.attachment
      // );
      let docsfiles = await Promise.all(
        file.map(async (item) => {
          item.attachment = typeof item.attachment==='string' ? item.attachment : await this.$helper.toBase64(item.attachment);
          return item;
        })
      );
      console.log(docsfiles);
      this.screenshot.files = docsfiles;
      // this.screenshot = docsfiles;
      // this.screenshot.filesize = 0;
      this.uploadLoading = false;
    },

    removeFile(key) {
      this.screenshot.splice(key, 1);
    },

    uploadScreenshot(item, key, type = null) {
      this.fileList = [];
      this.attachType = type;
      this.index = key;
      this.isMultiple = false;
      this.$nextTick(() => this.$refs.upload.selectFile());
    },

    populateUserDetails() {
      let newData = { ...this.data };
      newData = {
        ...newData,
        user_type: this.userData.userType,
        user_id: this.userData.id,
        company_name: this.userComp !== null ? this.userComp.agencyName : this.userData.userType,
        user: this.userData.email,
        company : this.userComp !== null ? this.userComp.agencyName : this.userData.userType,
      };
      this.data = newData;
    },
    // Methods
    onStep() {
      this.step++;
      if (this.step == 3) {
        this.$nextTick(() => $(".selectpicker").selectpicker("refresh"));
      }
    },
    resetForm() {
      this.selectedApplicationType = "";
      this.browser_version = "";
      this.os_version = "";
      this.selectedTicket = "";
      this.trouble_details = "";
      this.screenshot = "";
    },
    onCancel() {
      let vm = this;
      Swal.fire({
        title: "Confirm!",
        text: "Would you like to cancel now?",
        icon: "warning",
        allowOutsideClick: false,
        showCancelButton: true,
        showCloseButton: true,
        confirmButtonText: "Yes",
        cancelButtonText: "No",
      }).then(async (result) => {
        if (result.isConfirmed) {
          vm.$router.push({ name: "Helpdesk-List" });
        }
      });
    },
    async submit(){

      let isValid = await this.$refs.form.validate();

      if(this.screenshot.length === 0){
        isValid = false;
      }

      if (!isValid) {
        this.submitLoading = false;
        Swal.fire({
          title: "Fill in required fields.",
          text: "Please fill in required fields.",
          icon: "error",
          allowOutsideClick: false,
        });
        return;
      }

      this.swalLoading();
      setTimeout(()=>{
        this.onSubmit();
      },1500);
    },
    async onSubmit(){
      console.log(this.data);
      this.submitLoading = false;
      let that = this;
      let payload = {
        ...this.data,
        application_type: this.selectedApplicationType,
        browser_version: this.browser_version,
        os_version: this.os_version,
        ticket_type: this.selectedTicket,
        trouble_details: this.trouble_details,
        // screenshot : this.screenshot, Temporary disable attachment
        // screenshot : [],
        screenshot:[
          {
            "files":this.screenshot.files
          }
        ],
        user_email: this.userData.email,
      };
      console.log(payload);
      // console.log(this.screenshot);
      // START TRYCATCH
      try {
        let vm = this;
        that.submitLoading = true;
        // POST Request
        const { status, data } = await this.$store.dispatch(
          "Helpdesk/Form/createUserTicket",
          payload
        );
        that.submitLoading = false;
        console.log("response: ", data);
        console.log(status);
        if (status === 200 || status === 201) {
          Swal.fire({
            title: "Ticket Successfully Submitted!",
            text: "Your ticket was successfully submitted.",
            icon: "success",
            allowOutsideClick: false,
            showCancelButton: false,
            confirmButtonText: "Close",
          }).then(function (isConfirm) {
            if (isConfirm) {
              that.resetForm();
              vm.$router.push({ name: "Helpdesk-List" });
            }
          });
        } else if (data) {
          Swal.fire({
            title: "Oops!",
            text: `${data.message}`,
            icon: "error",
            allowOutsideClick: false,
            showCancelButton: false,
            confirmButtonText: "Close",
          });
        } else {
          Swal.fire({
            title: "Oops!",
            text: `Something went wrong.`,
            icon: "error",
            allowOutsideClick: false,
            showCancelButton: false,
            confirmButtonText: "Close",
          });
        }
      } catch (error) {
        this.submitLoading = false;
        Swal.fire({
          title: "Oops!",
          text: `Something went wrong.`,
          icon: "error",
          allowOutsideClick: false,
          showCancelButton: false,
          confirmButtonText: "Close",
        });
        console.log("error", error.response);
      }
      // END TRY CATCH
    }
  },
  
};
</script>

<style lang="css" scoped>
.img-avatar-link {
  /* position: absolute; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.img-avatar-link .img-class {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.img-avatar-link .img-class:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.img-avatar-link .img-helper-label {
  font-size: 11px;
  font-weight: bold;
  color: #9a9a9a;
  text-align: center;
  width: 100%;
  display: inline-block;
}

.img-avatar-link .label-uploaded {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #4d4848;
  font-size: 15px;
  font-weight: bold;
  /* background: #d3d3d3e3; */
  width: 100%;
  height: 100%;
  text-align: center;
  /* padding-top: 60px; */
  padding-top: 100px;
  border: 1px solid lightgrey;
  box-shadow: 0 0 2px 1px rgb(0 140 186 / 50%);
}
.img-avatar-link .label-uploaded .inner-label {
  border: 1px solid grey;
  padding: 5px 10px;
  background: white;
}
.bgslateblue {
  background-color: #2f5496;
}
.bgdarkslateblue {
  background-color: #1f3864;
}
.text-light {
  color: white;
}
.heading {
  margin-top: 80px;
  margin-bottom: 80px;
  font-size: 1.1em;
}
.heading2 {
  margin-top: 80px;
  font-size: 1.1em;
}
.box {
  padding: 25px;
}
</style>
