<template>
  <div class="container-fluid">
    <div class="card">
    	<div class="card-body">
    		<div class="row">
    			<div class="col-md-2">
    				<div class="form-group">
    					
    				</div>
    			</div>
    		</div>
    		<div class="table-responsive">
    			<table class="table">
    				<thead>
    					<tr>
    						<th>
    							<label>Date <small>(Auto Generated)</small></label>
    							<input type="text" class="form-control" readonly placeholder="Auto Generated">
    						</th>
    					</tr>
    				</thead>
					
    				<tbody style="border:2px solid white">
    					<tr>
    						<td>
    							<label>Transaction (Auto Generated)</label>
    							<input type="text" class="form-control" readonly placeholder="Auto Generated">
    						</td>
    						<td>
								<!-- activity -->
    							<label>Activity</label>
    							<select 
    							name="activity"
    							class="selectpicker"
    							data-width="100%"
    							data-style="btn-default btn-outline"
								v-model="form.activity"
    							>
    								<option value="">Select Activity</option>
    								<option>Backup</option>
    								<option>Reset System</option>
    							</select>
    						</td>
    						<td>
								<!-- date -->
								<label for="date_activities">Date</label>
								<input type="date" 
								class="form-control" 
								name="date_activities" 
								id="date_activities"
								v-model="form.schedule_date"/>
    						</td>
    						<td>
								<!-- time -->
								<label for="time_activities">Time</label>
								<input type="time" v-model="form.time" class="form-control">
								
    						</td>
    						<td>
								<!-- frequency -->
								<label>Frequency</label>
								<select 
								name="frequency"
								class="selectpicker"
								data-width="100%"
								data-style="btn-default btn-outline"
								v-model="form.frequency"
								>
									<option value="">Select Frequency</option>
									<option>Daily</option>
									<option>Once a Week</option>
									<option>Once a Month</option>
									<option>On Demand</option>
								</select>
    						</td>
    						<td>
    							<button class="btn btn-primary" style="position: relative;top:14px" @click="prepare_list"><i class="fa fa-plus"></i></button>
    						</td>
    					</tr>
						
    				</tbody>

    			</table>
    		</div>
    	</div>

		<table class="table table-hover mt-5 text-center" v-if="payload.length > 0">
			<thead>
				<tr>
					<th class="text-nowrap">Activity</th>
					<th class="text-nowrap">Date</th>
					<th class="text-nowrap">Time</th>
					<th class="text-nowrap">Frequency</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(item, idx) of payload" :key="idx">
                    <td>{{ item.activity }}</td>
                    <td>{{ item.schedule_date }}</td>
                    <td>{{ item.time }}</td>
					<td>{{ item.frequency }}</td>
                  </tr>
			</tbody>
		</table>

    	<div class="card-footer">
    		<div class="pull-right">
    			<button class="btn btn-success" @click="handle_submit">Go</button>
    		</div>
    	</div>
    </div>
  </div>
</template>
<script>
import Swal from 'sweetalert2'
export default {

  data: () => ({

	all_schedules : [],
	payload : [],
	form : {
		activity : "",
		frequency : "",
		schedule_date : "",
		time : "",
	}




  }),
  
  mounted(){
  	this.$nextTick(() => $(".selectpicker").selectpicker("refresh"));
	this.allSchedules();
  },

  methods : {
		prepare_list(){
			let newData = {...this.form};
			this.payload.push(newData);
			this.field_reset();
		},


		async allSchedules(){
			const { status, data } = await this.$store.dispatch("Helpdesk/Form/findAllSchedule", this.payload);	
			this.all_schedules = data;
		},


		async handle_submit(){
			// const { status } = await this.$store.dispatch("Helpdesk/Form/saveAllSchedule", this.payload);
			// if(status == 200){
			// 	Swal.fire({
			// 		title: "Activities Successfully Added",
			// 		text: "Your activities was successfully submitted.",
			// 		icon: "success",
			// 		allowOutsideClick: false,
			// 		showCancelButton: false,
			// 		confirmButtonText: "Close",
			// 	});
			// 	this.payload = [];
			// }
				Swal.fire({
					title: "Activities Successfully Added",
					text: "Your activities was successfully submitted.",
					icon: "success",
					allowOutsideClick: false,
					showCancelButton: false,
					confirmButtonText: "Close",
				});
				this.payload = [];
			
		},

		field_reset(){
			this.form.activity = "";
			this.form.time = ""
			this.form.schedule_date = "";
			this.form.frequency = "";
			this.$nextTick(() => $('.selectpicker').selectpicker('refresh'));

		}
  }

};
</script>
<style scoped>
	
</style>