<template>
  <div class="container-fluid">
    <!-- Client Side List -->
    <div class="row">
      <div class="col-lg-12">
        <div class="card table-with-links">
          <div class="card-header">
            <h4 class="card-title">My Tickets</h4>
            <p class="card-category"></p>
          </div>
          <div class="card-body">
            <table id="dtt" class="table table-hover text-center">
              <thead>
                <tr>
                  <th>Ticket No.</th>
                  <th>Date In</th>
                  <th>Name</th>
                  <th>Ticket Type</th>
                  <th>Status</th>
                  <th>Time Elapse</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody v-if="lists.length > 0">
                <tr v-for="(item, idx) of filteredTickets" :key="idx">
                  <td>{{ item.ticket_num || "---" }}</td>
                  <td class="p-5">{{ toDateTime(item.in_time) || "---" }}</td>
                  <!-- <td>{{ item.user_id }}</td> -->
                  <td>{{ item.user_email }}</td>
                  <td>{{ item.ticket_type }}</td>
                  <td>{{ item.status }}</td>
                  <td>
                    {{
                      item.status != "resolved"
                        ? elapse_time(item.created_at) || "---"
                        : toDateTime(item.resolution.updated_at) || "---"
                    }}
                  </td>

                  <td class="td-actions">
                    <button
                      rel="tooltip"
                      title="View Ticket Details"
                      class="btn btn-danger btn-link btn-xs"
                      @click="viewModal(item)"
                    >
                      <i class="fa fa-eye"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal View -->
    <div
      class="modal fade"
      id="viewModal"
      data-backdrop="static"
      tabindex="-1"
      aria-smallledby="viewModal"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="vieModal">
              View User Ticket <small>(Not Editable)</small> | Status:
              <span
                :class="
                  user_data.status.toUpperCase() === 'RESOLVED'
                    ? 'text-success'
                    : 'text-info'
                "
                >{{ user_data.status.toUpperCase() }}</span
              >
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-small="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <small>Date In <small>(Not Editable)</small></small>
                  <input
                    type="text"
                    class="form-control"
                    style="pointer-events: none !important"
                    v-model="user_data.in_time"
                  />
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <small>Ticket Type <small>(Not Editable)</small></small>
                  <input
                    type="text"
                    class="form-control"
                    style="pointer-events: none !important"
                    v-model="user_data.ticket_type"
                  />
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <small>Browser <small>(Not Editable)</small></small>
                  <input
                    type="text"
                    class="form-control"
                    style="pointer-events: none !important"
                    v-model="user_data.browser"
                  />
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <small>OS Version <small>(Not Editable)</small></small>
                  <input
                    type="text"
                    class="form-control"
                    style="pointer-events: none !important"
                    v-model="user_data.os_version"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <small>Name <small>(Not Editable)</small></small>
                <input
                  type="text"
                  class="form-control"
                  style="pointer-events: none !important"
                  :value="user_data.user_email"
                />
              </div>
              <div class="col-md-6">
                <small>Company/Agency Name <small>(Not Editable)</small></small>
                <input
                  type="text"
                  class="form-control"
                  style="pointer-events: none !important"
                  v-model="user_data.company_or_agency_name"
                />
              </div>
            </div>

            <div class="row">
              <div class="col-md-9">
                <small>Trouble Details <small>(Not Editable)</small></small>
                <textarea
                  name=""
                  class="form-control"
                  readonly
                  rows="5"
                  v-model="user_data.trouble_details"
                ></textarea>
              </div>
              <!-- <div class="col-md-3">
                <small>Image <small>(Not Editable)</small></small>
                <img src="/img/avatar/img-default.png" width="100%" height="125px">
                <button class="btn btn-sm btn-default btn-block" @click="retrieveSS">
                  {{ fileIds.length > 0 ? fileIds.length+' images - ':'' }}View
                </button>
              </div> -->
              <div class="col-md-3">
                <a
                  class="img-avatar-link"
                  href="#"
                  @click.prevent="retrieveSS(fileIds)"
                >
                  <span class="img-helper-label">SCREENSHOT</span>
                  <div style="position: relative">
                    <img
                      class="img-class"
                      src="/img/avatar/img-default.png"
                      alt="Forest"
                      style="width: 150px"
                    />
                    <span class="label-uploaded">
                      <i class="inner-label"
                        >View {{ fileIds.length }} Image/s</i
                      >
                    </span>
                  </div>
                </a>
              </div>
            </div>
            <div v-if="user_data.resolution.resolved_by !== ''">
              <hr class="seperator" />
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <small>Date Out <small>(Not Editable)</small></small>
                    <input
                      type="text"
                      class="form-control"
                      style="pointer-events: none !important"
                      v-model="user_data.updated_at"
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <small>Ticket Type <small>(Not Editable)</small></small>
                    <input
                      type="text"
                      class="form-control"
                      style="pointer-events: none !important"
                      v-model="user_data.ticket_type"
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <small>Resolved By <small>(Not Editable)</small></small>
                    <input
                      type="text"
                      class="form-control"
                      style="pointer-events: none !important"
                      v-model="user_data.resolution.resolved_by"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-9">
                  <small
                    >Troubleshooting Details
                    <small>(Not Editable)</small></small
                  >
                  <textarea
                    name=""
                    class="form-control"
                    rows="5"
                    readonly
                    v-model="user_data.resolution.troubleshooting_details"
                  ></textarea>
                </div>
                <div class="col-md-3">
                  <!-- <small>Image <small>(Not Editable)</small></small>
                  <img src="/img/avatar/img-default.png" width="100%" height="125px">
                  <button class="btn btn-sm btn-default btn-block">View</button> -->
                  <a
                    class="img-avatar-link"
                    href="#"
                    @click.prevent="retrieveSS(admin_screenshot)"
                  >
                    <span class="img-helper-label">SCREENSHOT</span>
                    <div style="position: relative">
                      <img
                        class="img-class"
                        src="/img/avatar/img-default.png"
                        alt="Forest"
                        style="width: 150px"
                      />
                      <span
                        class="label-uploaded"
                        v-if="admin_screenshot.length > 0"
                      >
                        <!-- <i class="fas fa-spinner fa-pulse" v-if="idUploadLoading"></i> -->
                        <i class="inner-label"
                          >View {{ admin_screenshot.length }} Image/s</i
                        >
                      </span>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer" style="display: inline !important">
            <div class="pull-right">
              <button
                type="button"
                class="btn btn-default"
                data-dismiss="modal"
                @click="resetUserData"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <CoolLightBox :items="items" :index="index" @close="onCloseViewer">
    </CoolLightBox>
  </div>
</template>

<script>
import moment from "moment";
import Swal from "sweetalert2";
import CoolLightBox from "vue-cool-lightbox";
import "vue-cool-lightbox/dist/vue-cool-lightbox.min.css";
import TimeAgo from "javascript-time-ago";
import en from "javascript-time-ago/locale/en";
TimeAgo.addLocale(en);
export default {
  components: {
    CoolLightBox,
  },
  data() {
    return {
      isInitLoading: false,
      idUploadLoading: false,
      screenshot_image: "/img/avatar/img-default.png",
      loading: true,
      lists: [],
      screenshot: [],
      screenshotUpload: [],
      uploadLoading: false,
      submitLoading: false,
      user_data: {
        application_type: "",
        browser_version: "",
        company_or_agency_name: "",
        created_at: "",
        id: "",
        in_time: "",
        out_time: "",
        os_version: "",
        out_time: "",
        resolution: null,
        screenshot: "",
        status: "",
        ticket: "",
        ticket_num: "",
        ticket_type: "",
        trouble_details: "",
        updated_at: "",
        user_id: "",
        user_email: "",
        resolution: {
          troubleshooting_details: "",
          resolved_by: "",
        },
      },

      troubleshooting_details: "",
      resolved_by: "",

      items: [],
      index: null,

      fileIds: [],
      retrievedDocuments: [],
      admin_screenshot: [],
    };
  },

  computed: {
    userData() {
      return JSON.parse(localStorage.getItem("user") || "{}");
    },

    filteredTickets: function () {
      return this.lists
        ? this.lists.sort((a, b) => (a.status > b.status ? 1 : -1))
        : [];
    },

    toDateTime() {
      return (d) => {
        return d ? moment(new Date(d)).format("YYYY/MM/DD hh:mm A") : null;
      };
    },
  },

  watch: {
    items(newVal) {
      console.log(newVal);
    },
    screenshotUpload(newVal) {
      {
        if (newVal.length === 0) return;
        this.setScreenshot(newVal);
      }
    },
  },

  mounted() {
    this.getUserTickets();
    // this.initTable();
  },

  methods: {
    initTable() {
      $("#dtt").DataTable().destroy();

      // setTimeout(function(){
      $("#dtt").DataTable({
        order: [[3, "asc"]],
      });
      // },500);
    },
    async setScreenshot(file) {
      console.log(file);
      this.idUploadLoading = true;
      let docsfiles = await Promise.all(
        file.map(async (item) => {
          item.attachment =
            typeof item.attachment === "string"
              ? item.attachment
              : await this.$helper.toBase64(item.attachment);
          return item;
        })
      );
      console.log(docsfiles);
      this.screenshot = docsfiles;
      this.idUploadLoading = false;

      // console.log("this.screenshot", this.screenshot)
    },

    updateDataPayload() {},
    async getUserTickets() {
      this.isInitLoading = true;
      const { data } = await this.$store.dispatch(
        "Helpdesk/Form/getUserTickets"
      );

      let data2 = data.filter((item) => {
        if (item.user_id == this.userData.id) {
          return item;
        }
      });
      this.lists = data2 || [];
      console.log("data:", data2);
      this.isInitLoading = false;
      this.$nextTick(() => this.initTable());
    },

    beautifyDate(date) {
      return moment(date).format("MMMM DD YYYY  hh:mm A");
    },

    beautifywithHours(date) {
      return moment(date).uct().format("MM D, YYYY hh : mm : ss");
    },

    onCloseViewer() {
      this.index = null;
      this.items = [];
    },

    async retrieveSS(fileIds) {
      if (fileIds.length === 0) {
        Swal.fire({
          title: "No Attachment Found.",
          text: "No Attachment Found.",
          icon: "error",
          allowOutsideClick: false,
          showCancelButton: false,
          confirmButtonText: "Close",
        });
        return;
      }
      console.log(fileIds);
      this.swalLoading(`Retrieving uploaded file...`, `Retrieve File`);
      try {
        let payload = {
          file_ids: fileIds.map((i) => Number(i)),
        };
        const { data, status } = await this.$store.dispatch(
          "Upload/retrieveFiles",
          payload
        );
        // this.retrievedDocuments = [200,201].indexOf(status) > -1 ? data : [];
        let collected = [200, 201].indexOf(status) > -1 ? data : [];
        if (collected.length === 0) {
          Swal.close();
          Swal.fire({
            title: "Error",
            text: "No files found.",
            icon: "error",
            allowOutsideClick: false,
            showCancelButton: false,
            confirmButtonText: "Close",
          });
          this.index = null;
          return;
        }
        let obsFileURL = await Promise.all(
          collected.map(async (item) => {
            let g_url = await this.retrieveOBS(item);
            let obj = {
              title: item.originalname || "---",
              description: item.filename || "---",
              thumb: "",
              src: g_url,
            };
            return obj;
          })
        );
        this.items = obsFileURL;
        this.index = 0;
        Swal.close();
      } catch (error) {
        Swal.fire({
          title: "Error",
          text: "Failed to load file details.",
          icon: "error",
          allowOutsideClick: false,
          showCancelButton: false,
          confirmButtonText: "Close",
        });
      }
    },

    async retrieveOBS(items) {
      try {
        let payload = {
          filename: items.filename,
          module: items.module,
          subModule: items.subModule,
          isEncrypted: false,
        };
        const { data, status } = await this.$store.dispatch(
          "Upload/generateOBSFileUrl",
          payload
        );
        return [200, 201].indexOf(status) > -1 ? data : null;
      } catch (error) {
        return null;
      }
    },

    swalLoading(
      html = "Processing your request. Please wait...",
      title = "Submit"
    ) {
      Swal.fire({
        title: title,
        html: html,
        timerProgressBar: true,
        allowOutsideClick: false,
        didOpen: () => {
          Swal.showLoading();
        },
      });
    },

    //triggering the view user tickets and getting the user data attached to the id
    viewModal(item) {
      // this.fileIds = item?.screenshot?.split(",")||[];
      // this.fileIds = item.screenshot.length > 0 ? item.screenshot : [];
      this.fileIds = item?.screenshot?.[0]?.file_ids || [];
      this.admin_screenshot =
        item?.resolution?.admin_screenshot?.[0]?.file_ids || [];
      console.log(item);
      this.getUser(item);
      this.$nextTick(() => $("#viewModal").modal("show"));
    },

    fixModal(item) {
      // this.fileIds = item?.screenshot?.split(",")||[];
      this.fileIds = item.screenshot.length > 0 ? item.screenshot : [];
      this.getUser(item);
      this.$nextTick(() => $("#fixModal").modal("show"));
    },

    hideFixModal() {
      this.reset_form();
      this.$nextTick(() => $("#fixModal").modal("hide"));
      this.$refs.form.reset();
    },

    reset_form() {
      this.troubleshooting_details = "";
      this.resolved_by = "";
      this.screenshot = [];
    },

    getUser(item) {
      this.user_data.status = item.status;
      this.user_data.ticket_num = item.ticket_num;
      this.user_data.ticket_type = item.ticket_type;
      this.user_data.date_in = item.date_in;
      this.user_data.browser = item.browser_version;
      this.user_data.os_version = item.os_version;
      this.user_data.name = item.name;
      this.user_data.company_or_agency_name = item.company_or_agency_name;
      this.user_data.trouble_details = item.trouble_details;
      this.user_data.in_time = this.beautifyDate(item.in_time);
      this.user_data.resolution.resolved_by = item.resolution.resolved_by;
      this.user_data.resolution.troubleshooting_details =
        item.resolution.troubleshooting_details;
      this.user_data.updated_at = this.beautifyDate(item.resolution.updated_at);
      this.user_data.user_email = item.user_email;
      if (item.resolution.out_time) {
        this.user_data.out_time = this.beautifyDate(item.resolution.out_time);
      } else {
        this.user_data.date_out = "";
      }
    },

    resetUserData() {},

    // getDateResolved(time_in, time_out){
    //   var date_resolved =  Math.abs((new Date(time_in).getTime()))
    //   var date_submitted =  moment.duration(time_in, 'd');
    //   return date_resolved.duration(date_submitted);

    // },

    uploadScreenshot(item, key, type = null) {
      // this.fileList = [];
      // this.attachType = type;
      // this.index = key;
      // this.isMultiple = false;
      this.$nextTick(() => this.$refs.upload.selectFile());
    },

    async onSubmit() {
      let that = this;
      let isValid = await this.$refs.form.validate();
      if (!isValid) {
        this.submitLoading = false;
        Swal.fire({
          title: "Fill in required fields.",
          text: "Please fill in required fields.",
          icon: "error",
          allowOutsideClick: false,
        });
        return;
      } else {
        let payload = {
          resolved_by: this.resolved_by,
          troubleshooting_details: this.troubleshooting_details,
          agency_or_business: this.user_data.company_or_agency_name,
          ticket_num: this.user_data.ticket_num,
          // user_email : this.user_data.email,
          user_email: this.user_data.user_email,
          screenshot: this.screenshot,
        };

        // START TRYCATCH
        try {
          console.log(payload);
          // POST Request
          const { status, data } = await this.$store.dispatch(
            "Helpdesk/Form/updateHelpdesk",
            payload
          );

          if (status === 200) {
            Swal.fire({
              title: "Update Success",
              text: "Update successfully submitted.",
              icon: "success",
              allowOutsideClick: false,
              showCancelButton: false,
              confirmButtonText: "Close",
            });

            this.hideFixModal();
            this.getUserTickets();
          } else if (data) {
            Swal.fire({
              title: "Oops!",
              text: `${data.message}`,
              icon: "error",
              allowOutsideClick: false,
              showCancelButton: false,
              confirmButtonText: "Close",
            });
          } else {
            Swal.fire({
              title: "Oops!",
              text: `Something went wrong.`,
              icon: "error",
              allowOutsideClick: false,
              showCancelButton: false,
              confirmButtonText: "Close",
            });
          }
        } catch (error) {
          this.submitLoading = false;
          Swal.fire({
            title: "Oops!",
            text: `Something went wrong.`,
            icon: "error",
            allowOutsideClick: false,
            showCancelButton: false,
            confirmButtonText: "Close",
          });
          console.log("error", error.response);
        }
        // END TRY CATCH
      }
    },

    elapse_time(time) {
      return time ? moment(new Date(time)).fromNow() : null;
      let dateTime = new Date(time);
      const timeAgo = new TimeAgo("en-US");
      var new_date = moment(dateTime, "YYYY-MM-DD hh : mm : ss");
      let ago = timeAgo.format(new_date - 60 * 1000);
      // console.log(time + ": " + ago + ": " + moment(new Date(time), "ddd MMM DD YYYY HH:mm:ss GMT Z").fromNow())
      return ago;
    },
  },
};
</script>

<style>
.seperator {
  border: 1px solid #2f5496;
}

.img-avatar-link {
  /* position: absolute; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.img-avatar-link .img-class {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.img-avatar-link .img-class:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.img-avatar-link .img-helper-label {
  font-size: 11px;
  font-weight: bold;
  color: #9a9a9a;
  text-align: center;
  width: 100%;
  display: inline-block;
}

.img-avatar-link .label-uploaded {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #4d4848;
  font-size: 15px;
  font-weight: bold;
  /* background: #d3d3d3e3; */
  width: 100%;
  height: 100%;
  text-align: center;
  /* padding-top: 60px; */
  padding-top: 100px;
  border: 1px solid lightgrey;
  box-shadow: 0 0 2px 1px rgb(0 140 186 / 50%);
}
.img-avatar-link .label-uploaded .inner-label {
  border: 1px solid grey;
  padding: 5px 10px;
  background: white;
}
th {
  font-weight: normal !important;
}
</style>