<template>
  <div>
    <h1>Hello World</h1>
    <HelloWorld />
  </div>
</template>

<script>
export default {
  data: () => ({}),
  computed() {},
  watch: {},
  mounted() {},
  methods: {},
};
</script>

<style>
</style>