<template>
  <div class="container-fluid">
    <div class="container-fluid" v-if="!isHelpdeskAdmin">
      <div class="row">
        <div class="col-lg-12 mb-3 ml-3">
          <button class="btn btn-primary" @click="createTickets">
            <i class="fa fa-plus-circle"></i> Create Ticket
          </button>
        </div>
      </div>
    </div>
    <!-- <div class="col-12" v-if="this.data.userType === 'UAM Admin'"> -->
    <div class="col-12" v-if="isHelpdeskAdmin">
        <HelpdeskList/>
      </div>
      <div class="col-12" v-else>
        <!-- <h1>Active user is ~HELPDESK CLIENT~ </h1> -->
        <HelpdeskTicketList/>
      </div>
  </div>
</template>

<script>
export default {
  middleware: "permissions",

  data: () => ({
    loading: false,
    data: {},
    list : [],
  }),

  computed : {
    // get current logged in user information
    userData(){
      return JSON.parse(localStorage.getItem('user')||"{}");
    },

    isHelpdeskAdmin() {
      return this.userData.module.indexOf("HDA") > -1;
    }
  },
  
  mounted(){
    this.populateUserDetails();
    this.getUserTickets();
  },
 
  methods: {
    createTickets() {
      let vm = this;
      vm.$router.push({ name: 'Helpdesk-UserTickets' });
    },

    populateUserDetails(){ 
      this.data = this.userData;
    },

    async getUserTickets(){
      const { status, data } = await this.$store.dispatch("Helpdesk/Form/getThisUserTickets", this.data.id);
      this.lists = data || [];
    }


    
  },

  created() {
    
  },
};
</script>