<template>
  <div class="container-fluid">
    <div class="row">
      <!-- <div class="col-12" v-if="this.data.userType == 'UAM Admin'"> -->
      <div class="col-12" v-if="isHelpdeskAdmin">
        <HelpdeskSelfDiagnostic/>
      </div>
    </div>
  </div>
</template>
<script>

export default {
  middleware: "permissions",

  data: () => ({
    loading: false,
    data: {},
  }),

  
  computed : {
    // get current logged in user information
    userData(){
      return JSON.parse(localStorage.getItem('user')||"{}");
    },
    isHelpdeskAdmin() {
      return this.userData.module.indexOf("HDA") > -1;
    }
  },
  mounted(){
    this.populateUserDetails();
  },
  methods : {
    populateUserDetails(){ 
      this.data = this.userData;
    }

  },
};
</script>
