<template>
  <div class="container-fluid">
    <div class="row">
      <!-- <div class="col-12" v-if="this.data.userType == 'UAM Admin'"> -->
      <div class="col-12" v-if="isHelpdeskAdmin">
        <HelpdeskDiagnostic/>
      </div>
    </div>
  </div>
</template>
<script>

export default {
  middleware: "permissions",

  data: () => ({
    loading: false,
    data: {},
  }),

  
  computed : {
    // get current logged in user information
    userData(){
      return JSON.parse(localStorage.getItem('user')||"{}");
    },
    isHelpdeskAdmin() {
      return this.userData.module.indexOf("HDA") > -1;
    }
  },
  mounted(){
    this.populateUserDetails();
  },
  methods : {
    populateUserDetails(){ 
      this.data = this.userData;
    }

  },
};
</script>
<style scoped>
.sub-title-date {
  font-size: 8px;
  font-weight: 100;
  font-style: italic;
}

.ct-label.ct-vertical.ct-start,
.ct-label.ct-horizontal.ct-end {
  font-size: 10px !important;
  font-weight: bold !important;
}


.ct-chart .ct-bar {
  /* stroke-width: 6px !important; */
  stroke-width: 8px !important;
}

.ct-chart .ct-series.ct-inprogress .ct-bar,
.ct-chart .ct-series.ct-inprogress .ct-slice-donut {
 stroke: #23ccef !important;
}
.ct-chart .ct-series.ct-completed .ct-bar,
.ct-chart .ct-series.ct-completed .ct-slice-donut {
 stroke: #87cb16 !important;
}
.ct-chart .ct-series.ct-delayed .ct-bar,
.ct-chart .ct-series.ct-delayed .ct-slice-donut {
  stroke: #fb404b !important;
}

.ct-chart .ct-series.ct-closed .ct-bar,
.ct-chart .ct-series.ct-closed .ct-slice-donut {
  stroke: #ffa534 !important;
}

.ct-chart .ct-series.ct-yellow .ct-bar,
.ct-chart .ct-series.ct-yellow .ct-slice-donut {
  stroke: #FFCE5C !important;
}
.table-head-ct-yellow {
  background-color: #FFCE5C !important;
}
.text-ct-yellow {
  color: #FFCE5C !important;
}

.ct-chart .ct-series.ct-lightred .ct-bar,
.ct-chart .ct-series.ct-lightred .ct-slice-donut {
  stroke: rgb(255 87 97) !important
}
.table-head-ct-lightred {
  background-color: rgb(255 87 97) !important
}
.text-ct-lightred {
  color: rgb(255 87 97) !important
}

table.table th,
table.table td {
  display: table-cell !important;
}
table.table th {
  vertical-align: middle !important;
}

.btn-link {
  color: #035a7c !important;
}
</style>